.action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.action-button {
  color: var(--black, #332012);
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  height: 56px;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
