.action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.action-button {
  display: flex;
  height: 56px;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-decoration: none;
}
