.font-text {
  color: var(--black, #332012);
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font-bigtext {
  color: var(--black, #332012);
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font-title-dark {
  color: var(--black, #332012);
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font-title-light {
  color: var(--withe, #ffffff);
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font-nav {
  color: var(--black, #332012);
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
