.switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  color: var(--black, #332012);
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 14px;
  flex-shrink: 0;
  border-radius: 22px;
  border: 1px solid var(--black, #332012);
  background: var(--white, #fff);
}

/* le rond qui se déplace */
.switch-inner {
  width: 10px;
  height: 10px;
  margin: 1px 0 0 1px;
  flex-shrink: 0;
  border-radius: 10.5px;
  background: var(--off, #ffbf90);
  transition: margin 0.2s, background 0.2s;
}

input:hover + .switch-wrapper .switch-inner {
  background: var(--main-color, #ff842a);
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 17px;
  background-color: var(--main-color, #ff842a);
}

.switch input {
  display: none;
}
